<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta  name="viewport" content="width=device-width, initial-scale=1">
		<title>Заголовок</title>
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>
	<body>
		<div class="container">
			<p class="logo"> OleMusic</p>
			<p></p>
			<div class="content">
				<img src = "Foto-S.jpg"; style = "width: 99%;">
				<div class="sing"> 
					<div class="box">
						<i class="fa fa-play psbtn" aria-hidden="true" data-name="1 OutKast_-_Ms_Jackson" data-name-author="Outkast" data-name-song="Mr.Jacson"></i>
					</div>
					<div class="box singer">
						<span class="nameSong">Mr.Jacson</span>
					</div>
					<div class="box author">
						<span class = "nameAuthor">Outkast</span>
					</div>
					<div class="box album">
						ALBUM
					</div>
					<div class="box">
						<i class="fa fa-heart like" style= "opacity: 1; " aria-hidden="true" data-name-song="Mr.Jacson"></i>
					</div>
				</div>
				<div class="sing"> 
					<div class="box">
						<i class="fa fa-play psbtn" aria-hidden="true" data-name="2 The_Neighbourhood_-_You_Get_Me_So_High" data-name-author="The Neighbourhood" data-name-song="You Get Me So High"></i>
					</div>
					<div class="box singer">
						<span class="nameSong">You Get Me So High</span>
					</div>
					<div class="box author">
						
						<span class = "nameAuthor">The Neighbourhood</span>
					</div>
					<div class="box album">
						ALBUM
					</div>
					<div class="box">
						<i class="fa fa-heart like" style= "opacity: 1; " aria-hidden="true" data-name-song="You Get Me So High"></i>
					</div>
				</div>
				<div class="sing"> 
					<div class="box">
						<i class="fa fa-play psbtn" aria-hidden="true" data-name="3 Tom_Gregory_-_Footprints" data-name-author="Tom Gregory" data-name-song="Footprints"></i>
					</div>
					<div class="box singer">
						<span class="nameSong">Footprints</span>
					</div>
					<div class="box author">
						<span class = "nameAuthor">Tom Gregory</span>
					</div>
					<div class="box album">
						ALBUM
					</div>
					<div class="box">
						<i class="fa fa-heart like" style= "opacity: 1;" aria-hidden="true" data-name-song="Footprints"></i>
					</div>
				</div>
				<div class="sing"> 
					<div class="box">
					<i class="fa fa-play psbtn" aria-hidden="true" data-name="4 Klangkarussell_-_Good_To_Go" data-name-author="Klangkarussell" data-name-song="Good To Go"></i>
					</div>
					<div class="box singer">
						<span class="nameSong">Good To Go</span>
					</div>
					<div class="box author">
						<span class = "nameAuthor">Klangkarussell</span>
					</div>
					<div class="box album">
						ALBUM
					</div>
					<div class="box">
						<i class="fa fa-heart like" style= "opacity: 1; " aria-hidden="true" data-name-song="Good To Go"></i>
					</div>
				</div>
				<div class="sing"> 
					<div class="box">
						<i class="fa fa-play psbtn" aria-hidden="true" data-name="5 Sia_Diplo_Labrinth_LSD_-_Mountains" data-name-author="LSD feat. Sia, Diplo" data-name-song="Mountains"></i>
					</div>
					<div class="box singer">
						<span class="nameSong">Mountains</span>
					</div>
					<div class="box author">
						<span class = "nameAuthor">LSD feat. Sia, Diplo</span>
					</div>
					<div class="box album">
						ALBUM
					</div>
					<div class="box">
						<i class="fa fa-heart like" style= "opacity: 1; " aria-hidden="true" data-name-song="Mountains"></i>
					</div>
				</div>
				<div class="sing"> 
					<div class="box">
						<i class="fa fa-play psbtn" aria-hidden="true" data-name="6 Major_Lazer_-_Get_Free" data-name-author="Major Lazer" data-name-song="Get Free"></i>
					</div>
					<div class="box singer">
						<span class="nameSong">Get Free</span>
					</div>
					<div class="box author">
						<span class = "nameAuthor">Major Lazer</span>
					</div>
					<div class="box album">
						ALBUM
					</div>
					<div class="box">
						<i class="fa fa-heart like" style= "opacity: 1; " aria-hidden="true" data-name-song="Get Free"></i>
					</div>
				</div>
				<div class="sing"> 
					<div class="box">
						<i class="fa fa-play psbtn" aria-hidden="true" data-name="7 Mattafix_-_Big_City_Life" data-name-author="Mattafix" data-name-song="Big City Life"></i>
					</div>
					<div class="box singer">
						<span class="nameSong">Big City Life</span>
					</div>
					<div class="box author">
						<span class = "nameAuthor">Mattafix</span>
					</div>
					<div class="box album">
						ALBUM
					</div>
					<div class="box">
						<i class="fa fa-heart like" style= "opacity: 1;" aria-hidden="true" data-name-song="Big City Life"></i>
					</div>
				</div>
				<div class="sing"> 
					<div class="box">
						<i class="fa fa-play psbtn" aria-hidden="true" data-name="8 Kayne_-_Clouds" data-name-author="Kayne" data-name-song="Clouds"></i>
					</div>
					<div class="box singer">
						<span class="nameSong">Clouds</span>
					</div>
					<div class="box author">
						<span class = "nameAuthor">Kayne</span>
					</div>
					<div class="box album">
						ALBUM
					</div>
					<div class="box">
						<i class="fa fa-heart like" style= "opacity: 1; " aria-hidden="true" data-name-song="Clouds"></i>
					</div>
					
				</div>
				<div class="sing"> 
					<div class="box">
						<i class="fa fa-play psbtn" aria-hidden="true" data-name="9 Oliver_Tree_-_Life_Goes_On" data-name-author="Oliver Tree" data-name-song="Life Goes On"></i>
					</div>
					<div class="box singer">
						<span class="nameSong">Life Goes On</span>
						
					</div>
					<div class="box author">
						
						<span class = "nameAuthor">Oliver Tree</span>
					</div>
					<div class="box album">
						ALBUM
					</div>
					<div class="box">
						<i class="fa fa-heart like" style= "opacity: 1; " aria-hidden="true" data-name-song="Life Goes On"></i>
					</div>
					
				</div>
				<div class="sing"> 
					<div class="box">
						<i class="fa fa-play psbtn" aria-hidden="true" data-name="10 Sia_-_Move_Your_Body" data-name-author="Sia" data-name-song="Move Your Body"></i>
					</div>
					<div class="box singer">
						<span class="nameSong">Move Your Body</span>
						
					</div>
					<div class="box author">
						
						<span class = "nameAuthor">Sia</span>
					</div>
					<div class="box album">
						ALBUM
					</div>
					<div class="box">
						<i class="fa fa-heart like" style= "opacity: 1; " aria-hidden="true" data-name-song="Move Your Body"></i>
					</div>
					
				</div>
				
				
				<div class="sing"> 
					<div class="box">
						<i class="fa fa-play psbtn" aria-hidden="true" data-name="11 Crazy_Town_-_Butterfly" data-name-author="Crazy Town" data-name-song="Butterfly"></i>
					</div>
					<div class="box singer">
						<span class="nameSong">Butterfly</span>
					</div>
					<div class="box author">
						<span class = "nameAuthor">Crazy Town</span>
					</div>
					<div class="box album">
						ALBUM
					</div>
					<div class="box">
						<i class="fa fa-heart like" style= "opacity: 1; " aria-hidden="true" data-name-song="Butterfly"></i>
					</div>
				</div>
				<div class="sing"> 
					<div class="box">
						<i class="fa fa-play psbtn" aria-hidden="true" data-name="12 Kavinsky_-_Nightcall" data-name-author="Kavinsky" data-name-song="Nightcall"></i>
					</div>
					<div class="box singer">
						<span class="nameSong">Nightcall</span>
					</div>
					<div class="box author">
						<span class = "nameAuthor">Kavinsky</span>
					</div>
					<div class="box album">
						ALBUM
					</div>
					<div class="box">
						<i class="fa fa-heart like" style= "opacity: 1; " aria-hidden="true" data-name-song="Nightcall"></i>
					</div>
				</div>
				<div class="sing"> 
					<div class="box">
						<i class="fa fa-play psbtn" aria-hidden="true" data-name="13 Sia_-_Unstoppable" data-name-author="Sia" data-name-song="Unstoppable"></i>
					</div>
					<div class="box singer">
						<span class="nameSong">Unstoppable</span>
					</div>
					<div class="box author">
						<span class = "nameAuthor">Sia</span>
					</div>
					<div class="box album">
						ALBUM
					</div>
					<div class="box">
						<i class="fa fa-heart like" style= "opacity: 1; " aria-hidden="true" data-name-song="Unstoppable"></i>
					</div>
				</div>
				
				
				
			</div>
			<div class="player">
				<div class="box">
					<i class="fa fa-fast-backward back" aria-hidden="true"></i>
				</div>
				<div class="box">
					<i class="fa fa-play playStop" aria-hidden="true"></i>
				</div>
				<div class="box">
					<i class="fa fa-fast-forward next" style= "opacity: 1; " aria-hidden="true"></i>
				</div>
				<div class="box curSinger">
					<span>Outkast - </span>
					<span>Mr.Jacson</span>
				</div>
			</div>
		</div>

		<script src="jquery-3.6.3.js"></script>
		<script src="script.js"></script>
	</body>	
</html>