@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Poppins&display=swap');


* {
  margin: 0px;
  padding: 0px;
}

body{
	font-family: 'Annie Use Your Telescope', cursive;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: White;
	font-family: 'Poppins', sans-serif;
	font-family: 'Roboto', sans-serif;
	
}